
<footer class="footer">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com/">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com/">
                        FAQs
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Terms of Service
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Privacy Policy
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy; 2019 Shisa
        </div>
    </div>
</footer>
