<div class="card" style="min-height: 640px;">
    <div class="card-header ">
        <br>
        <h4 class="card-title">How to Play Pick 3
            <small class="description">Tutorial</small>
        </h4>
    </div>
    <div class="card-body" style="min-height: 500px;">
        <div class="tab-content tab-space">
            <div class="tab-pane active show" id="link3">
                Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                <br>
                <br>Dynamically innovate resource-leveling customer service for state of the art customer service.
                Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                <br>
                <br> Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                <br>
            </div>
        </div>
    </div>
</div>
