<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
  <% include ../partials/header_.ejs %>
</head>
<body class="off-canvas-sidebar">
  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white" style="padding-top:5px !important">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="#pablo">
          <img src="img/logo.png" alt="Bingo logo" style="max-width:60px;"/>
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav card-signup">
          <li class="nav-item active">
            <a href="signup" class="nav-link">
              <i class="material-icons">person_add</i> Register
            </a>
          </li>
          <li class="nav-item">
            <a href="login" class="nav-link">
              <i class="material-icons">fingerprint</i> Login
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('assets/img/signup.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-signup" style="margin-top: 1vh;margin-bottom: 10px">
              <h2 class="card-title text-center">Register</h2>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5 ml-auto">
                    <div class="info info-horizontal">
                      <div class="icon icon-rose">
                        <i class="material-icons">art_track</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Report Assualt</h4>
                        <p class="description">
                          Fruitcake lemon drops jelly-o marshmallow cake dragée. Pie pudding cookie candy canes chocolate bar. Cookie cheesecake carrot. 
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-primary">
                        <i class="material-icons">fiber_manual_record</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Profile Case</h4>
                        <p class="description">
                          Fruitcake lemon drops jelly-o marshmallow cake dragée. Pie pudding cookie candy canes chocolate bar. Cookie cheesecake carrot
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-info">
                        <i class="material-icons">attach_file</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Upload Evidences</h4>
                        <p class="description">
                          Fruitcake lemon drops jelly-o marshmallow cake dragée. Pie pudding cookie candy canes chocolate bar. Cookie cheesecake carrot
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 mr-auto">
                  <!--  if (isSet(req.body.fullName) && isSet(req.body.email) && isSet(req.body.password) && isSet(req.body.phone)-->
                    <form method="POST" class="generalUpload" action="">
                      <!-- <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <input type="text" name="fullName" class="form-control" placeholder="Full Name">
                        </div>
                      </div> -->
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">mail</i>
                            </span>
                          </div>
                          <input type="text" name="email" class="form-control" placeholder="Email...">
                        </div>
                      </div>
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">mail</i>
                            </span>
                          </div>
                          <input type="text" name="phone" class="form-control" placeholder="Mobile phone - 234xxxxxxx">
                        </div>
                      </div>
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">lock_outline</i>
                            </span>
                          </div>
                          <input type="password" name="password" placeholder="Password..." class="form-control">
                        </div>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                          I agree to the
                          <a href="#something">terms and conditions</a>.
                        </label>
                      </div>
                      <br>
                      <button class="btn btn-primary" type="submit">Sign Up!<div class="ripple-container"></div></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
    </div>
  </div>
  <% include ../partials/footer_script.ejs %>
</body>
<script>
  $(".generalUpload").attr("action", ApiBaseUrl+"start_signup")
  let formOptions = {
    dataType: 'json',
    // data:$('.generalUpload').serialize(),
    beforeSubmit: function () {
      $.blockUI({message: '<div class="lds-hourglass"></div>'});
    },
    success: function (responseText, statusText, xhr, $form) {
      let response_string = responseText.response_string
      setCookie("_id", responseText.data._id)
      location.href = baseUrl+"verify"
      showInvalidDetailsSuc(response_string)
      $.unblockUI();

    },
    error: function (responseText, statusText, xhr, $form) {
      let error_string = responseText.responseJSON.error_string
      showInvalidDetailsError(error_string)
      $.unblockUI()
    }
  };
  $('.generalUpload').ajaxForm(formOptions);
</script>

<!-- Mirrored from demos.creative-tim.com/material-dashboard-pro/examples/pages/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jul 2019 06:14:52 GMT -->
</html>
