<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <% include ../partials/header_.ejs %>
  <style>
    spa {
      font-weight: normal;
      font-style: italic;
    }
  </style>
</head>

<body class="">
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <div class="wrapper ">
    <% include ../partials/sidebar.ejs %>
    <div class="main-panel">
      <% include ../partials/nav.ejs %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-stats">
                <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment_ind</i>
                  </div>
                  <p class="card-category">Perpetrator</p>
                  <h3 class="card-title">Benjamin Fanackin</h3>
                </div>
                <div class="card-footer">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">location_city</i>
                  </div>
                  <p class="card-category">Company</p>
                  <h3 class="card-title">Mark & Berkley</h3>
                </div>
                <div class="card-footer">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-info card-header-text">
                <div class="card-text">
                  <h4 class="card-title">New Incident</h4>
                </div>
              </div>
              <div class="card-body">
                <form form method="post" action="api/add_incident" enctype="application/x-www-form-urlencoded"
                id="new_incident_form">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Incident Title</label>
                        <input class="form-check-input" type="hidden" name="userId" value='<%= userData.data._id %>'>
                        <input class="form-check-input" type="hidden" name="accessToken"
                          value='<%= userData.data.accessToken %>'>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Date and Time of the incident</label>
                        <input type="text" class="form-control datepicker" value="10/06/2018">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Date and Time of the incident</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Incident Location</label>
                        <input type="email" class="form-control">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Incident Narration</label>
                        <div class="form-group bmd-form-group">
                          <label class="bmd-label-floating">How the incident happened, what transpired and possible
                            people as witnesses</label>
                          <textarea class="form-control" rows="10"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label>Incident Evidencent Files</label>
                      <!-- <form method="post" enctype="multipart/form-data" action="http://localhost:3002/api/upload_files"
                        id="add_image_form"> -->
                        <div class="input-field">
                          <!-- <input type="file" name="images" multiple/> -->
                          <div class="input-images-1" style="padding-top: .5rem;" onchange="{alert(0)}"></div>
                        </div>
                        <!-- <input type="hidden" name="caseId" value="<%= userData.data.caseId %>" />
                        <input type="hidden" name="incidentId" value="<%= userData.data.incidentId %>" /> -->
                        <!-- <form> -->

                    </div>


                    <div class="col-md-12">
                      <p>&nbsp;</p>
                      <hr style="border-top: 1px rgba(156, 39, 176, 0) 0) solid;width:100%;margin-top:10px">
                      <div class="row">
                        <div class="col-md-12">
                          <label>How do you feel</label>
                        </div>
                        <div class="col-md-4">
                          <div class="form-check bmd-form-group">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="abusetype" value="sexual_violence"
                                checked="">
                              <p>Good <spa>(lorem ipsum is a placehold)</spa>
                              </p>
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-check bmd-form-group">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="abusetype"
                                value="personal_harrassment">
                              <p>Bad <spa>(lorem ipsum is a placehold)</spa>
                              </p>
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-check bmd-form-group">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="abusetype" value="profesional_abuse">
                              <p>Terrible <spa>(lorem ipsum is a placehold)</spa>
                              </p>
                              <span class="circle">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <input class="submit" type="submit" value="Validate &amp; Send the form!">
                        <a href="" class="btn btn-rose" style="float:right;">Add Incident & Continue</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <% include ../partials/footer.ejs %>
  </div>
  </div>
  <% <!--include ../partials/theme_bar.ejs--> %>
  <% include ../partials/footer_script.ejs %>
  <script>
    String.prototype.trimRight = function (charlist) {
      if (charlist === undefined)
        charlist = "\/";

      return this.replace(new RegExp("[" + charlist + "]+$"), "");
    };


    function submitForm() {
      let isAccurate = valideForm("creat-case-form");
      if (!isAccurate) {
        showInvalidDetailsError("Error! Invalid data detected. Please retry action")
        return false;
      } else {
        $.blockUI({
          message: '<div class="lds-hourglass"></div><br>Processing...'
        });
        $("#creat-case-form").submit();
        // showInvalidDetailsSuc("Form filled correctly. Please continue")
        // return false;
      }
    }

    let formOptions = {
      dataType: 'json',
      // data:$('.generalUpload').serialize(),
      beforeSubmit: function () {
        $.blockUI({
          message: '<div class="lds-hourglass"></div>'
        });
      },
      success: function (responseText, statusText, xhr, $form) {
        //addincindent/de4cea81986375ba48d5acebd53248b0
        location.href = "addincindent/" + responseText.data._id
        $.unblockUI();
        showInvalidDetailsSuc(responseText.response_string)
        setTimeout(function () {
          location.href = baseUrl + "dashboard";
        }, 1000)
      },
      error: function (responseText, statusText, xhr, $form) {
        let error_string = responseText.responseJSON.error_string
        showInvalidDetailsError(error_string)
        $.unblockUI()
      }
    };
    $("#creat-case-form").ajaxForm(formOptions);

    //$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
    $(document).ready(function () {
      md.initFormExtendedDatetimepickers();

      let url = location.href.toLowerCase().trimRight().split("/")
      let caseId = url[4]
      let incidentId = url[5]
      // bind to the form's submit event 
      $('#add_image_form').submit(function () {
        // inside event callbacks 'this' is the DOM element so we first 
        // wrap it in a jQuery object and then invoke ajaxSubmit 
        $(this).ajaxSubmit(options);

        // !!! Important !!! 
        // always return false to prevent standard browser submit and page navigation 
        return false;
      });

      $('.input-images-1').imageUploader({
        id: "add_incident_image"
      });
      $("#add_incident_image").on("change", function () {
        // $('#add_image_form').submit();
        //alert($(this).files.length);
      })
      $('.dropify').dropify();
      // Used events
      var drEvent = $('.dropify-event').dropify();
      drEvent.on('dropify.beforeClear', function (event, element) {
        return confirm("Do you really want to delete \"" + element.filename + "\" ?");
      });

      drEvent.on('dropify.afterClear', function (event, element) {
        alert('File deleted');
      });
    });
  </script>
</body>

</html>